.container {
    position: relative;
    margin: 0 auto;
    width: 540px;
    /* height: 64px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.dark {
    background-color: hsl(235, 24%, 19%);
}

.light {
    background-color: white;
}



