.container {
    position: relative;
    /* margin: 0 auto; */
    width: 100%;
    background-color: hwb(235 15% 76%);
    color: hsl(234, 39%, 85%);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    cursor: pointer;
    color: white;
}

.container__AllActiveCompleted{
    display: flex;
    gap: 15px;
    
}

.container__Clear{
    
}

.darkFooter {
    background-color: hwb(235 15% 76%);}

.lightFooter {
    background-color: white;
}

.lightFooter a {
    color: hsl(236, 9%, 61%);
}