.checkbox {
    appearance: none;
    border: 1px solid hsl(236, 33%, 92%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.checkbox:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.checkbox:checked {
    background: linear-gradient( hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.checkbox:not(:checked) {
}

.checkbox:checked::before {
    content: url("/images/icon-check.svg");
    position: absolute;
    transform: scale(1.7);
    translate: 9px 9px;
}
